<h1> Places I've Been </h1>

<p>
  <a href="/mexicocity">Mexico City</a> 
</p>   
<p>
  <a href="/venice">Venice</a>  
</p> 
<p> 
  <a href="/sophia">Sophia</a>    
</p>

<h1> </h1>

<p> Choose a place to journal about! </p>
<input place="place" type="text">
<button>New Post</button>